// Basic Color

$primary_color: #ff4858;
$second_color: #2e90e5;
$color_border_nav_footer: #707070;
$color_background_burger: #f8f8f8;
$color_hover_active: #33a0ff;
$color_heading_categories: #ff4858;

// Basic media query
$max_xs: "(max-width: 575px)";
$min_sm: "(min-width: 768px)";
$max_sm: "(max-width: 767px)";
$min_md: "(min-width: 992px)";
$max_md: "(max-width: 991px)";
$min_lg: "(min-width: 1200px)";
$max_lg: "(max-width: 1199px)";

// Border
$border_rad: 10px;

// Home Page
// Main Section
// main product
$second_color_background_home: #ad5dd2;

// cards
$background_first_card: #ff6875;
$background_second_card_border: #f6f7f8;
$background_third_card: #c1c8ce;
